@import url('https://fonts.googleapis.com/css2?family=Oldenburg&family=Petit+Formal+Script&family=Poiret+One&family=Sail&display=swap');



body {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #343a40;
    font-family: "Poiret One", sans-serif;
}
main {
    font-family: "Poiret One", sans-serif;
    background-color: #f8f9fa;
    padding: 50px 0;
}

.image {
    max-width: 100%;
    height: auto;
  }

.section-title {
    font-family: "Poiret One", sans-serif;
    color: #343a40;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.section-content {
    font-family: "Poiret One", sans-serif;
    color: #6c757d;
    font-size: 1.1rem;
    margin-bottom: 30px;
}
.btn-primary {
    background-color: #e61faa;
    border-color: white;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: black;
    border-color: white;
}


footer {
    font-family: "Poiret One", sans-serif;
}